// // @import 'assets/app.scss';
// @import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

// :root {
// 	/* Base font size */
// 	font-size: 10px;

// 	/* Heading height variable*/
// 	--heading-height: 30em;
// }

// body {
// 	font-family: "Roboto", Arial, sans-serif;
// 	min-height: 100vh;
// 	background-color: #101010;
// }


.header {
	position: fixed;
	width: 100%;
    // height: var(--heading-height);
    cursor: pointer;
    // background: linear-gradient(#4e4376, #2b5876);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
.header-title{
    display: inline;
}